.container {
  height: 100%;
  overflow-y: auto;
  background: var(--color-bg-secondary);
  padding-bottom: 10px;
}

.inner {
  position: relative;
  width: 100%;
}

.virtualItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
